<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Anime Crush</title>
</head>
<body>
    <header>
        <div>
            <h1>Find New Anime For Watching!</h1>
        </div>
    </header>

    <div class="form-section">
        <form action="/random-suggest" id="form-random" class="form-random" method="GET">
            <button type="submit" class="form-submit">Try Random</button>
        </form>
    
        <form action="/type-suggestion" id="form" class="form" method="POST">
            <label for="film-type"></label>
            <select name="type" id="film-type" class="film-type">
                <% if(locals.type){ %>
                <% type.forEach(element => { %>
                    <option value="<%= element %>"><%= element %></option>
                  <% }); %>
                  <% } %>
            </select>
            <button type="submit" class="form-submit">Find</button>
        </form>
    </div>

    <% if (locals.data){ %>

    <div class="result-section">
        <img class="anime-img" src=<%= data.poster_img_url || "Unknown" %> alt="poster">
        <h2 class="anime-name"><%= data.name || "Unknown"%></h2>
        <p>Year: <%= data.year || "Unknown" %></p>
        <div class="movie info">
            <span class="season">Season: <%= data.season || "Unknown" %></span>
            <span class="episodes">Episodes: <%= data.episodes || "Unknown" %></span>
        </div>
        <p class="synopsis"><%= data.synopsis || "Unknown"%></p>

        <% if (data.trailer_url) { %>
            <iframe src="https://www.youtube.com/embed/<%= data.trailer_url %>" class="trailer"></iframe>
        <% } else { %>
            <p>No trailer available.</p>
        <% } %>

    </div>

    <% }else{ %>
    <h2 class="no-content">If you can't find anything to watch, press one of the buttons and find a random anime!</h2>
    <% } %>

    <% const date = new Date(); %>
    <% const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>
    <footer>© <%= date.getFullYear()%> <%= months[date.getMonth()] %> Duygu Kara</footer>
    
</body>
</html>